@{
    ViewBag.Title = "About";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/aboutUs.css" />

</head>
<body>
    <main>
        <div class="about-section container">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    Star Organic farm is commenced in the year 1988. Company is involved in trading
                    and manufacturing a wide range of Organic Products and spices to the consumers all
                    around the global market. Company has wide variety of collection of products lies of
                    Nutritious cereals, Pulses, Spices and Condiments, Cooking Oils, Fruit Pulps,
                    Agro Products, Oils, Wheat and Wheat Flour, Rice and Rice products and so
                    on.
                </p>
            </div>
        </div>
    </main>
</body>
</html>

