
@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{

    
    <link href="~/Content/CSS/font-roboto.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/CSS/font-awesome.min.css">
    <link rel="stylesheet" type="~/Content/text/css" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/CSS/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/navigation.css">
    <link rel="stylesheet" href="~/Content/CSS/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/sitemap.css">
}

@section scripts
{
    <script type="text/javascript" src="~/Content/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/JS/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/libary/bootstrap/js/kit.fontawesome.js"></script>
    <script type="text/javascript" src="~/Content/libary/bootstrap/js/bootstrap.bundle2.js"></script>
    <script type="text/javascript" src="~/Content/libary/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/JS/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
}

<main>
    <div id="bgh2">
        <h2>Sitemap</h2>
    </div>
    <div class="container">

        <div id="left">
            <p><a href="../index.html">Home</p></a>
            <P><a href="aboutUs.html">About Us</P></a>
            <P><a href="contactUs.html">Contact Us</P></a>
            <P><a href="#">Sitemap</P></a>
            <P><a href="products.html">Products</P></a>
            <ul>
                <li><a href="productNutritiousCereals.html">Nutritious cereals</li></a>
                <li><a href="productPulses.html">Pulses</li></a>
                <li><a href="productSpicesAndCondiments.html">Spices and Condiments</li></a>
                <li><a href="productCookingOils&Oils.html">Cooking Oils & Oils</li></a>
                <li><a href="productFruitPulps.html">Fruit Pulps</li></a>
                <li><a href="productAgroProducts.html">Agro Products</li></a>
                <li><a href="productWheatAndWheatFlour.html">Wheat and Wheat Flour</li></a>
                <li><a href="productRiceAndRiceProducts.html">Rice and Rice products</li></a>
            </ul>

            <P><a href="login.html">My Account</P></a>
            <ul>
                <li><a href="login.html">Login</li></a>
                <li><a href="login.html">Register</li></a>
            </ul>
        </div>
        <div id="img-sitemap" class="">
            <img src="~/Content/Image/sitemap.jpg">
        </div>
    </div>


</main>

<!-- Ket thuc MAIN -->
